<%= form_for(@ride_offer) do |f| %>
  <% if @ride_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride_offer.errors.count, "error") %> prohibited this ride_offer from being saved:</h2>

      <ul>
      <% @ride_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, [['dirver'],['hitchhiker']] %>
  </div>

  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :date %>(mm/dd/yyyy)<br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :time %>(24-hour clock)<br>
    <%= f.text_field :time %>
  </div>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
    </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
