<%= form_for(@ride_offer) do |f| %>
  <% if @ride_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride_offer.errors.count, "error") %> prohibited this ride_offer from being saved:</h2>

      <ul>
      <% @ride_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, [['dirver'],['hitchhiker']] %>
  </div>

  <div class="field">
    <%= f.label :source %><br>
    <%= f.select :source, [['Kowloon Reservoir'],['Kowloon City'],['Kowloon Tong'],['Kowloon Bay'],['Pat Sin Leng'],['Sheung Shui'],['Sheung Wan'],['To Kwa Wan'],['Tai Shui Hang'],['Tate’s Cairn'],['Tai Hang'],['Tai Mei Tuk'],['Tai Kok Tsui'],['Tai Tung Shan'],['Sunset Peak'],['Tai Po Industrial Estate'],['Tai Po'],['Tai Po Kau'],['Tai Po Market'],['Tai Long Wan'],['Tai Wai'],['Tai Mo Shan'],['Tai Wo Hau'],['Tai Mong Tsai'],['Tai Tam Reservoirs'],['Tai Tam Bay'],['Tai O'],['Lantau Island'],['Tai Pang Wan'],['Mirs Bay'],['Tai Lam Chung'],['Tai Lam Chung Reservoir'],['Siu Sai Wan'],['Siu Lam'],['Central and Western'],['Central'],['Tseng Lan Shue'],['Yuen Long'],['Fan Lau'],['Tin Shui Wai'],['Tin Hau'],['Prince Edward'],['Tai Koo'],['Tai Wo'],['Tuen Mun'],['Fo Tan'],['Ngau Chi Wan'],['Ngau Mei Hoi'],['Port Shelter'],['Ngau Tau Kok'],['North Point'],['North'],['Pak Tam Chung'],['Ta Kwu Ling'],['Ting Kau'],['Shek Mun'],['Shek Kong'],['Shek Kip Mei'],['Shek Tong Tsui'],['Shek Pik'],['Shek Pik Reservoir'],['Shek O'],['Kei Ling Ha Hoi'],['Three Fathoms Cove'],['Siu Hong'],['Crooked Island'],['Tolo Harbour'],['Tsim Sha Tsui'],['East Tsim Sha Tsui'],['Tsim Bei Tsui'],['Sai Kung Hoi'],['Inner Port Shelter'],['Sai Kung'],['Sai Ying Pun'],['Sai Wan Ho'],['Ho Man Tin'],['Jordan'],['Hang Hau'],['Heng Fa Chuen'],['Sha Tin Hoi'],['Sha Tin'],['Sha Tin Wai'],['Sha Tau Kok'],['Pui O'],['Tolo Channel'],['Stanley'],['Chek Lap Kok'],['King’s Park'],['Wo Hop Shek'],['Peng Chau'],['Mong Kok'],['Ngong Ping'],['Ngong Suen Chau'],['Stonecutters Island'],['Tung Ping Chau'],['Tung Chung'],['Eastern'],['Tung Lung Chau'],['Kwo Chau Kwan To'],['Lam Tsuen'],['Sunny Bay'],['Ho Pui Reservoir'],['Yau Tsim Mong'],['Yau Ma Tei'],['Yau Tong'],['Admiralty'],['Cheung Sha Wan'],['Cheung Chau'],['Tsing Shan'],['Castle Peak'],['Tsing Yi'],['Tsing Lung Tau'],['Lamma Island'],['Nam Sang Wai'],['Nam Cheong'],['Nam Long Shan'],['Brick Hill'],['Southern'],['Shing Mun Reservoir'],['Ping Shan'],['Hung Shui Kiu'],['Lau Fau Shan'],['Fortress Hill'],['Hung Hom'],['Mei Foo'],['Kowloon Peak'],['Aberdeen'],['Aberdeen Lower Reservoir'],['Aberdeen Upper Reservoir'],['Hong Kong Gold Coast'],['Heng On'],['Chai Wan'],['Long Ke Wan'],['Hoi Ha'],['Wu Kau Tang'],['Wu Kai Sha'],['Fanling'],['Soko Islands'],['Sok Kwu Wan'],['Lai Chi Kok'],['Lai King'],['Grassy Hill'],['Tsuen Wan West'],['Tsuen Wan'],['Cham Shan'],['Needle Hill'],['Ma Liu Shui'],['Ma On Shan'],['Ma Wan'],['Kennedy Town'],['Tseung Kwan O'],['Choi Hung'],['So Kon Po'],['Mui Wo'],['Clear Water Bay'],['Sham Tseng'],['Deep Water Bay'],['Sham Shui Po'],['Shenzhen River'],['City One'],['Plover Cove Reservoir'],['Nam She Tsim'],['Sharp Peak'],['Hei Ling Chau'],['Discovery Bay'],['Pat Ka Shan'],['Wong Tai Sin'],['Wong Shek'],['Wong Chuk Hang'],['Wong Nai Chung Gap'],['Tap Mun Chau'],['Grass Island'],['Olympic'],['Tsz Wan Shan'],['Aldrich Bay'],['San Po Kong'],['Lion Rock'],['High Island Reservoir'],['Lok Ma Chau'],['Kwai Fong'],['Kwai Tsing'],['Kwai Chung'],['Kwai Hing'],['Kau Sai Chau'],['Shau Kei Wan'],['Shouson Hill'],['Yung Shue Wan'],['Victoria Harbour'],['Po Toi'],['Causeway Bay'],['Fung Wong Shan'],['Lantau Peak'],['Mount Davis'],['Lok Fu'],['Tiu Keng Leng'],['Tap Shek Kok'],['Kiu Tsui Chau'],['Sharp Island'],['Kam Sheung Road'],['Kam Tin'],['Ap Chau'],['Ap Lei Chau'],['Lung Kwu Tan'],['Pok Fu Lam'],['Pok Fu Lam Reservoir'],['Lam Tin'],['Lam Tong Hoi Hap'],['Tathong Channel'],['outlying island'],['Islands'],['Lei Yue Mun'],['Po Lam'],['Braemar Hill'],['Hok Tsui'],['Ngau Hom Shek'],['Wan Chai'],['Kwun Tong'],['Diamond Hill'],['Quarry Bay']] %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.select :destination, [['Kowloon Reservoir'],['Kowloon City'],['Kowloon Tong'],['Kowloon Bay'],['Pat Sin Leng'],['Sheung Shui'],['Sheung Wan'],['To Kwa Wan'],['Tai Shui Hang'],['Tate’s Cairn'],['Tai Hang'],['Tai Mei Tuk'],['Tai Kok Tsui'],['Tai Tung Shan'],['Sunset Peak'],['Tai Po Industrial Estate'],['Tai Po'],['Tai Po Kau'],['Tai Po Market'],['Tai Long Wan'],['Tai Wai'],['Tai Mo Shan'],['Tai Wo Hau'],['Tai Mong Tsai'],['Tai Tam Reservoirs'],['Tai Tam Bay'],['Tai O'],['Lantau Island'],['Tai Pang Wan'],['Mirs Bay'],['Tai Lam Chung'],['Tai Lam Chung Reservoir'],['Siu Sai Wan'],['Siu Lam'],['Central and Western'],['Central'],['Tseng Lan Shue'],['Yuen Long'],['Fan Lau'],['Tin Shui Wai'],['Tin Hau'],['Prince Edward'],['Tai Koo'],['Tai Wo'],['Tuen Mun'],['Fo Tan'],['Ngau Chi Wan'],['Ngau Mei Hoi'],['Port Shelter'],['Ngau Tau Kok'],['North Point'],['North'],['Pak Tam Chung'],['Ta Kwu Ling'],['Ting Kau'],['Shek Mun'],['Shek Kong'],['Shek Kip Mei'],['Shek Tong Tsui'],['Shek Pik'],['Shek Pik Reservoir'],['Shek O'],['Kei Ling Ha Hoi'],['Three Fathoms Cove'],['Siu Hong'],['Crooked Island'],['Tolo Harbour'],['Tsim Sha Tsui'],['East Tsim Sha Tsui'],['Tsim Bei Tsui'],['Sai Kung Hoi'],['Inner Port Shelter'],['Sai Kung'],['Sai Ying Pun'],['Sai Wan Ho'],['Ho Man Tin'],['Jordan'],['Hang Hau'],['Heng Fa Chuen'],['Sha Tin Hoi'],['Sha Tin'],['Sha Tin Wai'],['Sha Tau Kok'],['Pui O'],['Tolo Channel'],['Stanley'],['Chek Lap Kok'],['King’s Park'],['Wo Hop Shek'],['Peng Chau'],['Mong Kok'],['Ngong Ping'],['Ngong Suen Chau'],['Stonecutters Island'],['Tung Ping Chau'],['Tung Chung'],['Eastern'],['Tung Lung Chau'],['Kwo Chau Kwan To'],['Lam Tsuen'],['Sunny Bay'],['Ho Pui Reservoir'],['Yau Tsim Mong'],['Yau Ma Tei'],['Yau Tong'],['Admiralty'],['Cheung Sha Wan'],['Cheung Chau'],['Tsing Shan'],['Castle Peak'],['Tsing Yi'],['Tsing Lung Tau'],['Lamma Island'],['Nam Sang Wai'],['Nam Cheong'],['Nam Long Shan'],['Brick Hill'],['Southern'],['Shing Mun Reservoir'],['Ping Shan'],['Hung Shui Kiu'],['Lau Fau Shan'],['Fortress Hill'],['Hung Hom'],['Mei Foo'],['Kowloon Peak'],['Aberdeen'],['Aberdeen Lower Reservoir'],['Aberdeen Upper Reservoir'],['Hong Kong Gold Coast'],['Heng On'],['Chai Wan'],['Long Ke Wan'],['Hoi Ha'],['Wu Kau Tang'],['Wu Kai Sha'],['Fanling'],['Soko Islands'],['Sok Kwu Wan'],['Lai Chi Kok'],['Lai King'],['Grassy Hill'],['Tsuen Wan West'],['Tsuen Wan'],['Cham Shan'],['Needle Hill'],['Ma Liu Shui'],['Ma On Shan'],['Ma Wan'],['Kennedy Town'],['Tseung Kwan O'],['Choi Hung'],['So Kon Po'],['Mui Wo'],['Clear Water Bay'],['Sham Tseng'],['Deep Water Bay'],['Sham Shui Po'],['Shenzhen River'],['City One'],['Plover Cove Reservoir'],['Nam She Tsim'],['Sharp Peak'],['Hei Ling Chau'],['Discovery Bay'],['Pat Ka Shan'],['Wong Tai Sin'],['Wong Shek'],['Wong Chuk Hang'],['Wong Nai Chung Gap'],['Tap Mun Chau'],['Grass Island'],['Olympic'],['Tsz Wan Shan'],['Aldrich Bay'],['San Po Kong'],['Lion Rock'],['High Island Reservoir'],['Lok Ma Chau'],['Kwai Fong'],['Kwai Tsing'],['Kwai Chung'],['Kwai Hing'],['Kau Sai Chau'],['Shau Kei Wan'],['Shouson Hill'],['Yung Shue Wan'],['Victoria Harbour'],['Po Toi'],['Causeway Bay'],['Fung Wong Shan'],['Lantau Peak'],['Mount Davis'],['Lok Fu'],['Tiu Keng Leng'],['Tap Shek Kok'],['Kiu Tsui Chau'],['Sharp Island'],['Kam Sheung Road'],['Kam Tin'],['Ap Chau'],['Ap Lei Chau'],['Lung Kwu Tan'],['Pok Fu Lam'],['Pok Fu Lam Reservoir'],['Lam Tin'],['Lam Tong Hoi Hap'],['Tathong Channel'],['outlying island'],['Islands'],['Lei Yue Mun'],['Po Lam'],['Braemar Hill'],['Hok Tsui'],['Ngau Hom Shek'],['Wan Chai'],['Kwun Tong'],['Diamond Hill'],['Quarry Bay']] %>
  </div>
  <div class="field">
    <%= f.label :date %>(mm/dd/yyyy)<br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :time %>(24-hour clock)<br>
    <%= f.text_field :time %>
  </div>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
    </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
