<p id="notice"><%= notice %></p>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjHPmYvddy_KT5xRr911EJh-GHPefXofU&callback=initMap" type="text/javascript"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<p>
  <strong>Role:</strong>
  <%= @ride_offer.role %>
</p>

<p>
  <strong>Source:</strong>
  <%= @ride_offer.source %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ride_offer.destination %>
</p>

<p>
  <strong>Date:</strong>
  <%= @ride_offer.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @ride_offer.time %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @ride_offer.phone %>
</p>



<h3>Comments</h3>
<% @ride_offer_comments.each do |ride_offer_comment| %>
    <div>
      <strong><%= ride_offer_comment.user_name %></strong>
      <br/>
      <p><%= ride_offer_comment.body %></p>
      <% if current_user.id===2 %>
      <p><%= link_to 'Delete', ride_offer_comment_path(ride_offer_comment), method: :delete, data: {confirm: 'Are you sure?'} %></p>
      <% end %>
    </div>
<% end %>
<%= render 'ride_offer_comments/form' %>


<%= link_to 'Edit', edit_ride_offer_path(@ride_offer) %> |
<%= link_to 'Back', ride_offers_path %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @ride_offer.latitude %>,
        "lng": <%= @ride_offer.longitude %>,
        "infowindow": "My destination: <%= @ride_offer.destination %>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>